* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 25px 0;
    background-color: aquamarine;
    color: orange;
    font-family: 'Tilt Warp', cursive;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Tilt Warp', cursive;
}

header nav li {
    display: inline;
    padding-left: 16px;
    
}

header li a {
    text-decoration: none;
    color: rgb(243, 89, 243);
}

#acontecimentos h1 {
    padding: 20px 0;
    color: orange;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    font-family: 'Tilt Warp', cursive;
    align-items: center;

}

#acontecimentos .container{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.card-acontecimentos img{
    height: 180px;
    width: 100%;
}

.card-acontecimentos a {
    background-color: rgb(243, 89, 243);
    color: black;
    border-radius: 30px;
    text-decoration: none;
    padding: 8px 0;
    display: inline-block;
    margin-top: 20px;
}

.card-acontecimentos h2 {
    color: orange;
    padding: 16px 0;
}

.card-acontecimentos {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 27%;
    padding: 2px 16px;
    margin-bottom: 50px;
}

.card-acontecimentos:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#sep .separador {
    background-color:orange;
    margin-bottom: 50px;
}

#programacao h1 {
    padding: 20px 0;
    color: orange;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    font-family: 'Tilt Warp', cursive;
    align-items: center;

}

#programacao .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#programacao .container img {
    max-width: 680px;
    width: 100%;
    padding: 16px 2px;
}

#footer h1 {
    padding: 20px 0;
    color: orange;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    font-family: 'Tilt Warp', cursive;
    margin-left: 30px;

}

form {
    margin-left: 30px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: purple;
  }

  input[type=email] {
    border-radius: 20px;
  }