* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Tilt Warp', cursive;
}

header {
    background-color: #276EC8;
    color: white;
    padding: 16px 0;
    display: flex;
    border-bottom: 16px solid #2462B1;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

form {
    background-color: #A9D9DC;
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
    border-radius: 20px;
}

#botao-cancelar {
    background-color: #ECCACA;
}

button {
    background-color: #CAF0E8;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    padding: 16px;
    text-align: center;
}

ul {
    text-align: center;
    flex-wrap: wrap;
}

li a {
    font-size: 22px;
    cursor: pointer;
}

ul li {
    max-width: 100%;
    margin-bottom: 8px;
}